.PasswordValidationInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 34px;

  @media screen and (max-width: 460px) {
    justify-content: left;
  }

  &__col {
    @media screen and (max-width: 460px) {
      width: 50%;
    }
  }

  &__item {
    display: flex;
    margin: 0 0px 8px 0;

    @media screen and (max-width: 460px) {
    }

    span {
      width: 16px;
      position: relative;
      z-index: 1;

      &:after ,
      &:before {
        content: '';
        display: none;
        height: 1px;
        background: #3db3ac;
        position: absolute;
      }

      &:before {
        width: 4px;
        top: 6px;
        left: 2px;
        transform: rotate(45deg);
      }
      &:after {
        width: 7px;
        left: 4px;
        top: 5px;
        transform: rotate(-45deg);
      }
    }
    p {
      font-size: 11px;
      color: #2c2c2c;
    }

    &.active {
      span {
        &:after ,
        &:before {
          display: block;
        }
      }
      p {
        color: #1fa79f;
      }
    }
  }
}
