.forgot-page-wrapper {
  .auth__footer_inner {
    flex-flow: column;

    .btn-inner {
      margin: 0 0 30px;
    }

    a {
      text-decoration: none;
      font-size: 15px;
      color: #848484;

      &:hover {
        text-decoration: underline;
      }
    }
  }

}
