.notFoundPage_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 20px 50px;
  h1 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 32px;
  }
  h2 {
    margin-bottom: 30px;
  }
  .link_home {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    white-space: nowrap;
    flex-shrink: 0;
    text-align: center;
    border: none;
    outline: none;
    width: 300px;
    height: 60px;
    border-radius: 3px;
    background: linear-gradient(to top, #4FACFE, #03EFFE);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  .Footer {
    padding: 0 50px;
  }
}