
body {
  font-family: 'Raleway', sans-serif;
	-webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	display: flex;
	flex-direction: column;
  min-height: 100vh;
}

footer {
  margin: auto 0 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.title {
	// font-size: 36px;
	// font-weight: 600;
	// color: #444;
	// margin-bottom: 65px;
}

.noScroll {
	overflow: hidden;
}


a {
  color: #1fa79f;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

form {
  @include placeholder(#b1b1b1, 15px);

  @media screen and (max-width: 460px) {
    @include placeholder(#b1b1b1, 12px);
  }
}
input {
  color: #000;
  font-size: 15px;
}

h1 {
  color: #2C2C2C;
  font-size: 35px;
  line-height: 42px;
  font-weight: bold;
}



#root {
  min-height: 100vh;
}


.btn-inner {
  @include btn;
  width: 100%;
  height: 60px;
  border-radius: 3px;
  background: linear-gradient(to top, #16a29a, #26bcb3);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background: linear-gradient(to top, #077b75, #0aafa5);
  }

  &:disabled {
    opacity: .7;
    cursor: default;
    background: linear-gradient(to top, #16a29a, #26bcb3);
    color: #fff;
  }
}

.btn-outer {
  @include btn;
  width: 200px;
  height: 40px;
  border-width: 2px;
  border-style: solid;
  border-color: #1caea3;
  font-size: 15px;
  color: #26bcb3;
  font-weight: bold;
  border-radius: 3px;

  &:hover {
    background: #1caea3;
    color: #fff;
  }

  &:disabled {
    opacity: .7;
    cursor: default;
    background: transparent;
    color: #26bcb3;
  }
}


.scroll-btn-enter ,
.scroll-btn-exit {
  opacity: 0;
}

.scroll-btn-enter-active ,
.scroll-btn-enter-done {
    opacity: 1;
  }

