.NotificationMessageStatic {
  width: 100%;
  height: 44px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #26bcb3;
  display: flex;
  margin: 0 0 36px;

  &__icon {
    width: 43px;
    height: 100%;
    background: #26bcb3;
    flex-shrink: 0;
    position: relative;

    &:before ,
    &:after {
      content: '';
      display: block;
      height: 2px;
      position: absolute;
      background: #fff;
      border-radius: 3px;
    }
    &:before {
      width: 12px;
      top: 21px;
      left: 12px;
      transform: rotate(45deg);
    }
    &:after {
      width: 16px;
      top: 19px;
      left: 19px;
      transform: rotate(-45deg);
    }
  }

  &__text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 20px;

    p {
      color: #000;
      font-size: 12px;
    }

    span {
      color: #26bcb3;
      font-weight: bold;
      margin: 0 6px 0 0;
    }
  }
}
